.banner {
    position: sticky;
    display: flex;
    align-items: center;
    /*border: solid black 2px;*/
    background-color: #a9b093;
    max-height: 236px;
    overflow: hidden;
    margin-left: 1rem; /* 15 */
    margin-right: 1rem; /* 15 */
    margin-top: 1rem;
}
.banner-text {
    flex: 1;
    font-family: Ebrima, serif;
    text-align: center;
}
a {
    color: #000000;
    text-decoration: none; /* Remove default underline */
}
.nav-bar {
    margin-left: 10rem; /* 15 */
    margin-right: 10rem; /* 15 */
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    /*border: solid black 2px;*/
    position: static;

}
.nav-box {
    list-style-type: none;
    display: inline;
    border-right: solid black;
    border-left: solid black;
    margin-left: 5rem;
    margin-right: 5rem;
}
.nav-text {
    font-family: Corbel, serif;
    margin-left: 1rem;
    margin-right: 1rem;
}
.nav-text:hover {
    color: grey;
    font-size: 17px;
    transition: 1s;
    cursor: pointer;
}

.image {
    display: block;
    position: static;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    width: 720px;
    max-width: 100%;
    height: auto;
    border: solid black 2px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.left_container {
    flex: 1;
    margin-top: 1rem;
    padding: 5px;
    width: auto;
    /*border: solid black 2px;*/
}

.right_container {
    flex: 1;
    margin-top: 1rem;
    padding: 2px;
    /*border: solid black 2px; */
}

.image_container {
    flex: 0 0 auto;
}
h2{
    margin-top: 0;
    text-align: center;
    font-family: Ebrima, serif;
}
h1{
    color: #ffffff;
}
a{
    text-decoration: none;
    color: black;
}
tr{
    text-align: left;
}
td {
    padding-left: 25px;
    padding-bottom: 7px;
    text-align: right;
}